@import "colours";

.post {
    padding-top: 1em;
}

.post-block {
    .post-title {
        margin: 0.65em 0;
        color: $link;
        font-size: 1.5em;
    }

    .post-info {
        color: $subtext;
        margin: 1.2em 0;
        span {
            margin-left: 0.5rem;
        }
        a.post-from {
            margin-left: 0.5rem;
            padding: 3px 6px;
            border-radius: 5px;
            font-size: 12px;
            color: $postFrom;
            background-color: $postFromBG;
        }
    }
}

.post-content {
    h2, h3, h4, h5, h6 {
        position: relative;
        margin: 1em 0;
        &:before {
            content: "#";
            color: $primary;
            position: absolute;
            left: -0.7em;
            top: -4px;
            font-size: 1.2em;
            font-weight: bold;
        }
    }
    h4, h5, h6 {
        &:before {
            content: "";
        }
    }

    h2, h3 {
        font-size: 22px;
    }

    h4, h5, h6 {
        font-size: 18px;
    }
    a {
        color: $primary;
        word-break: break-all;
    }
    blockquote {
        margin: 2em 0;
        padding-left: 20px;
        border-left: 4px solid $primary;
    }
    img {
        display: block;
        max-width: 100%;
        margin: 1em auto;
    }
    & > table,
    & > figure.highlight {
        // box-shadow: 0 1px 2px rgba(0,0,0,0.125);
    }
    .tip {
        position: relative;
        margin: 2em 0;
        padding: 12px 24px 12px 30px;
        border-left: 4px solid $tip;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        background-color: $tipBG;
        br {
            display: none;
        }
    }
    .tip:before {
        position: absolute;
        top: 14px;
        left: -12px;
        content: "!";
        width: 20px;
        height: 20px;
        border-radius: 100%;
        color: $tipBefore;
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;
        text-align: center;
        background-color: $tip;
        font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    }
}

#mask {
    position: fixed;
    overflow: scroll;
    width: 100%;
    height: 100%;
    padding: 1em 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    #mask-image {
        max-width: 95%;
    }
}

code,
pre {
    font-size: 0.8em;
    background-color: $codeBG;
    font-family: 'Roboto Mono', Monaco, courier, monospace;
}

.highlight {
    position: relative;
    margin: 1em 0;
    border-radius: 2px;
    line-height: 1.1em;
    background-color: $highlightBG;
    overflow-x: auto;
    table, tr, td {
        width: 100%;
        border-collapse: collapse;
        padding: 0;
        margin: 0;
    }
    .gutter {
        display: none;
    }
    .code pre {
        padding: 1.2em 1.4em;
        line-height: 1.5em;
        margin: 0;
    }
}
